* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../jost-fonts-latin/jost-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../jost-fonts-latin/jost-v15-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("../jost-fonts-latin/jost-v15-latin-700.woff2") format("woff2");
}

body {
  font-family: "Jost";
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost";
  font-weight: 500;
}

:root {
  --white-color: #ffffff;
  --black-light: #333136;
  --footer-bg-color: #1d1c1e;
  --orange-bg-color: #e7816b;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1211px;
  margin: auto;
  padding: 0 50px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}

.navigation img {
  width: 196px;
}

li.header {
  display: flex;
  column-gap: 42px;
}

button {
  cursor: pointer;
  border-radius: 8px;
}

.header a {
  color: var(--black-light);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
}

.bg-tablet {
  display: none;
}

.hero {
  background-image: url(../img/about-us/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 640px;
  max-height: 480px;
  height: 100%;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  max-width: 458px;
  width: 100%;
  font-size: 48px;
  line-height: 48px;
  padding-top: 135px;
  color: var(--white-color);
}

.hero p {
  max-width: 458px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-top: 32px;
  padding-bottom: 135px;
  color: var(--white-color);
}

.all-bg-img {
  display: flex;
  margin-bottom: 160px;
}

.first-page {
  display: flex;
  flex-direction: row;
}

.picture-div {
  background-image: url(../img/about-us/bg-img-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 635px;
  padding: 154px 96px 154px 94px;
}

.picture-div h3 {
  font-size: 40px;
  line-height: 48px;
  color: var(--orange-bg-color);
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.picture-div p {
  font-size: 16px;
  line-height: 26px;
  max-width: 445px;
  width: 100%;
}

.hiro-box {
  display: flex;
  margin-bottom: 160px;
}

/*  */

.section-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
}

.section-box h3 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  margin-top: 48px;
}

.section-box button {
  padding: 18px 18.5px 16px 18.5px;
  margin-top: 32px;
  background-color: var(--orange-bg-color);
  border: none;
}

.section-box button a {
  color: var(--white-color);
}

.section-box button:hover {
  background-color: rgba(247, 182, 168, 1);
  border: none;
}

.section-main-page {
  display: flex;
  column-gap: 30px;
  margin-bottom: 160px;
}

/* ! */

.last-box-main {
  background-image: url(../img/bg-img-web-design.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 72px 96px 46px 95px;
  border-radius: 20px;
  z-index: 1;
  position: relative;
  top: 65px;
}
.btn {
  padding: 17px 19px;
  background-color: #ffffff;
  position: relative;
  font-family: "Jost";
  font-weight: 500;
  left: 800px;
  top: -80px;
  font-size: 15px;
  line-height: 21.68px;
  letter-spacing: 1px;
  color: #333136;
  border-radius: 15px;
}

.btn:hover {
  padding: 20px 22px;
}

.btn:active {
  padding: 20px 22px;
  background-color: #1d1c1e;
  color: #ffffff;
}

.last-box-main h3 {
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  width: 268px;
}

.last-box-main p {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  width: 459px;
  margin-top: 25px;
}

/* * */

footer {
  background-color: var(--footer-bg-color);
  height: 100%;
  max-height: 493px;
  width: 100%;
  padding-top: 70px;
  position: static;
  top: 100px;
}

.footer a {
  color: var(--white-color);
}

hr {
  position: relative;
  top: -35px;
  border: 1px solid rgba(255, 255, 255, 10%);
}

location-box {
  position: relative;
  left: 300px;
  top: -80px;
}

.box-for-map p {
  font-size: 16px;
  line-height: 26px;
  max-width: 190px;
  width: 100%;
  color: rgba(160, 160, 160, 0.5);
}

.location-box {
  position: relative;
  left: 300px;
  top: -80px;
}

address {
  font-style: normal;
}

.box-for-icons {
  position: relative;
  display: flex;
  gap: 15px;
  left: 930px;
  top: -100px;
}

a.tel-number {
  color: rgba(160, 160, 160, 0.5);
}

@media screen and (max-width: 690px) {
  .container {
    padding: 0 40px;
  }

  .bg-tablet {
    display: block;
  }

  .bg-desctop {
    display: none;
  }

  .all-bg-img {
    flex-direction: column;
    margin-bottom: 120px;
  }

  .hero {
    width: 606px;
    position: relative;
    top: -10px;
    z-index: -1;
    border-bottom-right-radius: 10px;
  }

  .hero h1 {
    padding-top: 64px;
    text-align: center;
  }

  .hero p {
    padding-bottom: 64px;
    text-align: center;
  }

  /*? main section 1 */

  .hiro-box {
    flex-direction: column;
  }

  .picture-div {
    width: 606px;
    padding: 68px 58px;
    text-align: center;
    border-bottom-right-radius: 10px;
  }

  .picture-div h3 {
    justify-content: center;
  }

  .section-main-page {
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
    margin-bottom: 120px;
  }

  .section-box {
    justify-content: center;
  }

  .btn {
    left: 0;
    top: 35px;
  }

  .last-box-main {
    padding: 57px 59px;
    text-align: center;
    top: 0;
    height: 350px;
    position: relative;
    top: 100px;
  }

  .last-box-main h3 {
    text-align: center;
    width: 335px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
  }

  .location-box {
    display: inline-block;
    left: 250px;
  }

  .box-for-icons {
    left: 480px;
    gap: 8px;
    display: inline-block;
  }
}
