* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../jost-fonts-latin/jost-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../jost-fonts-latin/jost-v15-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("../jost-fonts-latin/jost-v15-latin-700.woff2") format("woff2");
}

body {
  font-family: "Jost";
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost";
  font-weight: 500;
}

:root {
  --white-color: #ffffff;
  --black-light: #333136;
  --footer-bg-color: #1d1c1e;
  --orange-bg-color: #e7816b;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1211px;
  margin: auto;
  padding: 0 50px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}

.navigation img {
  width: 196px;
}

li.header {
  display: flex;
  column-gap: 42px;
}

.header a {
  color: var(--black-light);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
}

.header-active {
  text-align: center;
  background-image: url(../img/bg-img-web-design.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 64px 190px 64px 191px;
  color: #ffffff;
  margin-bottom: 160px;
}

.header-active h2 {
  font-size: 48px;
  line-height: 48px;
}

.header-active p {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 24px;
  font-size: 16px;
  line-height: 26px;
}

.all-box-fathes {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 32px;
}
.box-sons {
  max-width: 350px;
  width: 100%;
  border-radius: 15px;
  background-color: #fdf3f0;
  text-align: center;
}

.box-in-box {
  padding: 32px 32px;
}

.box-in-box h3 {
  font-size: 20px;
  line-height: 26px;
  color: var(--orange-bg-color);
  letter-spacing: 5px;
}

.box-in-box p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 16px;
}

/* * */

.all-images {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

button {
  border: none;
}

.family-boxes h3,
.family-boxes h4 {
  position: relative;
  top: -200px;
  color: var(--white-color);
  text-align: center;
}

.second-box {
  height: 41%;
}

.family-boxes h3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.family-boxes h4 {
  font-size: 15px;
  line-height: 24.68px;
  letter-spacing: 5px;
}

.family-boxes {
  display: flex;
  column-gap: 30px;
  margin-top: 160px;
}

/* ! */

.last-box-main {
  background-image: url(../img/bg-img-web-design.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 72px 96px 46px 95px;
  border-radius: 20px;
  z-index: 1;
  position: relative;
  top: 65px;
}
.btn {
  padding: 17px 19px;
  background-color: #ffffff;
  position: relative;
  font-family: "Jost";
  font-weight: 500;
  left: 800px;
  top: -80px;
  font-size: 15px;
  line-height: 21.68px;
  letter-spacing: 1px;
  color: #333136;
  border-radius: 15px;
}

.btn:hover {
  padding: 20px 22px;
}

.btn:active {
  padding: 20px 22px;
  background-color: #1d1c1e;
  color: #ffffff;
}

.last-box-main h3 {
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  width: 268px;
}

.last-box-main p {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  width: 459px;
  margin-top: 25px;
}

/* ? */

footer {
  background-color: var(--footer-bg-color);
  height: 100%;
  max-height: 493px;
  padding-top: 70px;
  position: static;
  top: 100px;
}

.footer a {
  color: var(--white-color);
}

hr {
  position: relative;
  top: -35px;
  border: 1px solid rgba(255, 255, 255, 10%);
}

location-box {
  position: relative;
  left: 300px;
  top: -80px;
}

.box-for-map p {
  font-size: 16px;
  line-height: 26px;
  max-width: 190px;
  width: 100%;
}

.location-box {
  position: relative;
  left: 300px;
  top: -80px;
}

address {
  font-style: normal;
}

.box-for-icons {
  position: relative;
  display: flex;
  gap: 15px;
  left: 930px;
  top: -100px;
}

.tel-number {
  color: var(--black-light);
}
